@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;

}
/*   --------         animasyon   ----------    */ 
@keyframes renk-degisimi {   0% { color:  #ff8502; } 50% { color:  #d06c02; } }  
@keyframes loading {  0%  { border-color: #ff850244; }  100% { border-color: #ff8502; } }
@keyframes baslik {   0%  { color: beige; }  100% { color: #ff8502;  } }
/*   --------         animasyon   ----------    */

/*   --------         Body   ----------    */ 
body{
    background-image: url(https://wallpapershome.com/images/pages/pic_h/23785.jpg);

}
/*   --------         Body   ----------    */ 


  
.container 
  {
    position: absolute;
    bottom: 10px;
    right: 10px;
    height: 300px;
    width: 450px;  
    border-radius: 10px;   
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.05),
            5px 5px 15px rgba(0, 0, 0, 0.5);
    z-index: 1;    
    
  }
  .container, .form {
   
  }
 .form 
  {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;   
  border-radius: 50%;
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.05),
            5px 5px 15px rgba(0, 0, 0, 0.5);
 
  }
/* üst kısım kodları başlangıç */
.additional-top 
  {
    position: absolute;    
    display: flex;
    top: 0;
    height: 15%;
    width: 100%;
    background-color: #131419;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .baslik 
  {
      -webkit-user-select: none; /* Safari */
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* IE10+/Edge */
      user-select: none; /* Standart */
      /*pointer-events: none;*/
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      font-size: 20px;
      color: beige;   
  }
  .baslik:hover
  {
    animation: baslik 0.3s linear 1 forwards ;
    
  }

.additional-top .sag 
{
    height: 100%;
    width: 15%;    
    margin-left: auto;    
    background-color: transparent;
    border-top-right-radius: 10px;
    
}
.return-btn
{
  font-size: 19px;
      position: absolute;
      top: 50%;    
      right: 45px;
      transform: translate(50%, -50%);
      background-color: transparent;
      border: none;      
      padding: 6px 6px;
      border-radius: 100%;
      cursor: pointer;
      color: beige;
}
.return-btn:hover
{
  animation: renk-degisimi 1s infinite;
}
 .return-btn:active
{
  color: #9c5101;
  font-size: 17px;
}

.close-btn
  {
      font-size: 20px;
      position: absolute;
      top: 50%;    
      right: 20px;
      transform: translate(50%, -50%);
      background-color: transparent;
      border: none;      
      padding: 6px 6px;
      border-radius: 100%;
      cursor: pointer;
      color: beige;

  }
   .close-btn:hover
  {
    animation: renk-degisimi 1s infinite;
  }
   .close-btn:active
  {
    color: #9c5101;
    font-size: 17px;
  }
  .ayar
  {
    font-size: 20px;
      position: absolute;
      top: 50%;    
      right: 47px;
      transform: translate(50%, -50%);
      background-color: transparent;
      border: none;
      color: beige;
      padding: 8px 6px;
      border-radius: 100%;
      cursor: pointer;      
      color: beige;
  }
  .ayar:hover
   {
    /* Hover stil ayarları */
    animation: renk-degisimi 1s infinite;   
  }
  .ayar:active
  {
    color: #9c5101;
    font-size: 17px;
  }
 
 /* üst kısım kodları bitiş */ 
 /* sidebar başlangıç */  
.sidebar 
  {
    position: absolute;
    top: 15%;
    bottom: 10%;
    height: 65%;
    width: 50%;   
  }
/* sidebar left başlangıç */  
.sidebar-left 
  {
    left: 0;
    background-color: #131419;
  }
/* sidebar left bitiş */  
/* sidebar right başlangıç */  
.sidebar-right 
  {
    right: 0;
    background-color:#131419;
  }



.a-bildirim h4
{
  color: beige;  
  padding-left: 24px;
}

.a-bildirim .a-3
{
  height: 30px;
  width: 180px;
  border-radius: 15px;
  border: 1px solid #ff8502 ;   
  padding-left: 10px;
  display: block;
  margin: 0 auto;
  background-color: transparent;
  color: beige;
  
  
}
.a-bildirim .a-3:active
{
 border-color: #ff8502;
}
.a-bildirim .a-3::placeholder
{
 padding-left: 3px;
 font-size: 12px;

  
}
.a-bildirim select 
{
  width: 180px;
  padding: 4px 7px ;  
    
  border-radius: 20px;  
   
  
}
.a-bildirim select option {
  
  background-color: #131419;
  
  color:#f4f4f4 ;
}

 /* sidebar right bitiş */ 

 /* alt kısım başlangıç */  
.additional-content
  {
    position: absolute;
    bottom: 0;
    height: 20%;
    width: 100%;
    background-color: #131419;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  /* alt kısım bitiş */ 

  
/*-------------- Ayarlar Özel ---------------*/ 

.additional-content
{
  position: absolute; 
  display: flex;
}

.additional-content button
{
  margin-top: 9px;
  margin-left: auto;
  margin-right: 4%;
  margin-bottom: 2%;
  width: 75px;
  height: 40px;
  border-radius: 15px;  
  background-color: #131419;
  color: beige; 
  border-color: #1a1b22;
  border: 1px solid #000;
  
}

.additional-content button:hover
{   
  background-color: #1f2029;
  animation: loading 0.3s linear 1 forwards ;   
}

.additional-content button:active
{  
  margin-left: auto;
  margin-right: 4%;
  margin-bottom: 2%;
  font-size: 13px;  
  width: 75px;
  height: 40px;
  border-radius: 15px;  
  background-color: #0d0e13;
  color: beige;  
}


input[type=range] {
  height: 30px;
  -webkit-appearance: none;
  padding-left: 10px;
  padding-right: 10px;  
  background-color: transparent;
  border: 1px solid #ff8502;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px; 

}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 180px;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #FF8502;
  border-radius: 26px;
  border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 3px #000000;
  border: 0px solid #000000;
  height: 18px;
  width: 18px;
  border-radius: 30px;
  background: #F78102;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #FF8502;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 15px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #FF8502;
  border-radius: 26px;
  border: 0px solid #000000;
}
input[type=range]::-ms-track {
  
  height: 15px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 3px #000000;
  border: 0px solid #000000;
  height: 18px;
  width: 18px;
  border-radius: 30px;
  background: #F78102;
  cursor: pointer;
}

input[type=range]::-ms-fill-lower {
  background: #FF8502;
  border: 0px solid #000000;
  border-radius: 52px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #FF8502;
  border: 0px solid #000000;
  border-radius: 52px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 3px #000000;
  border: 0px solid #000000;
  height: 18px;
  width: 18px;
  border-radius: 30px;
  background: #F78102;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #FF8502;
}
input[type=range]:focus::-ms-fill-upper {
  background: #FF8502;
}





/*-------------- Ayarlar Özel ---------------*/